---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import PluginGrid from '../components/PluginGrid.astro';
import { plugins } from '../data/marketplace';
---

<Layout>
  <main>
    <Hero pluginCount={plugins.length} />
    <PluginGrid plugins={plugins} />
  </main>
</Layout>
