---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PluginGrid from '../components/PluginGrid.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';

import marketplace from '../../../.eca-plugin/marketplace.json';

const plugins = marketplace.plugins;
---

<Layout>
  <Header />
  <main>
    <Hero pluginCount={plugins.length} />
    <PluginGrid plugins={plugins} />
  </main>
  <Footer />
</Layout>
